# Football Data API
API_KEY_FOOTBALL=your_api_key_here

# PostgreSQL
POSTGRES_USER=samuel
POSTGRES_PASSWORD=change_me
POSTGRES_DB=barca_warehouse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# Kafka
KAFKA_BROKER_ID=1
KAFKA_PORT=9092